{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <title>E-tsabo</title>
  </head>
  <body>
    <main class="content">
      <section class="ads">
        <div class="container">
          <h2 class="section-title"></h2>
          <div
            class="modal fade"
            id="adsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="adsModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <section class="profile">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="profile-card">
                          <div class="cover-photo">
                            <img src="merci.jpg" alt="Cover Photo" />
                          </div>
                          <div class="profile-picture">
                            <img src="slide1.jpg" alt="Profile Picture" />
                          </div>
                          <div class="profile-info">
                            <h5 class="profile-name">Rahajarison Rianala</h5>
                            <p class="profile-bio">Description du profil</p>
                            <div class="profile-buttons">
                              <a
                                href="#"
                                class="btn btn-primary"
                                style="background-color: red; border: red"
                                >Déconnexion</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% block content %} {% endblock %}
    </main>
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img src="logo.png" alt="Logo" />
      </a>
      <ul class="navbar-nav flex-nowrap" style="flex-direction: inherit">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'boutique' %}">Boutique</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'listeDiscu' %}">Discussion</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            data-toggle="modal"
            data-target="#adsModal"
            >Compte</a
          >
        </li>
      </ul>
    </nav>
  </body>
</html>
<script src="{% static 'js/boutique.js' %}"></script>
