{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link href="{% static '/fontawesome/css/all.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <title>E-tsabo</title>
  </head>
  <style>
    .navbar-nav .nav-item .nav-link {
      position: relative;
      color: black;
      overflow: hidden;
    }

    .navbar-nav .nav-item .nav-link:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 3px;
      background-color: black;
      transition: width 0.3s;
    }

    .navbar-nav .nav-item .nav-link:hover:before {
      width: 100%;
    }

    .navbar-nav .nav-item .nav-link.active:before {
      width: 100%;
      background-color: blue;
    }

     input{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #f5f6f7;
  }
  </style>
  <body>
    <main class="content">
      <section class="ads">
        <div class="container">
          <h2 class="section-title"></h2>
          <div
            class="modal fade"
            id="adsModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="adsModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <section class="profile">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="profile-card">
                          <div class="cover-photo">
                            <img src="merci.jpg" alt="Cover Photo" />
                          </div>
                          <div class="profile-picture">
                            <img src="slide1.jpg" alt="Profile Picture" />
                          </div>
                          <div class="profile-info">
                            <h5 class="profile-name">Rahajarison Rianala</h5>
                            <p class="profile-bio">Description du profil</p>
                            <div class="profile-buttons">
                              <a
                                href="#"
                                class="btn btn-primary"
                                style="background-color: red; border: red"
                                >Déconnexion</a
                              >
                              <a href="#" data-toggle="modal" data-target="#adsModal1" class="btn btn-primary" style="background-color: rgb(81, 255, 0); border: rgb(81, 255, 0)">Modifier</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>

          <div class="modal fade" id="adsModal1" tabindex="-1" role="dialog" aria-labelledby="adsModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <section class="profile">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="profile-card">
                          <div class="cover-photo">
                            <a href="#upload"><img src="merci.jpg" alt="Cover Photo" /></a>
                          </div>
                          <div class="profile-picture">
                            <a href="#upload"><img src="slide1.jpg" alt="Profile Picture" /></a>
                          </div>
                          <div class="profile-info">

                            <p class="profile-bio">Email <input type="text" name="modif_email"></p>
                            <p class="profile-bio">Telephone <input type="text" name="modif_telephone"></p>
                            <p class="profile-bio">Adresse <input type="text" name="modif_adresse"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% block content %} {% endblock %}
    </main>
    <nav
      class="navbar"
      style="
        background-color: white;
        box-shadow: 0px 0px 2px 0px;
        border: 1px solid white;
      "
    >
      <ul class="navbar-nav flex-nowrap" style="flex-direction: inherit">
        <li class="nav-item flex-fill">
          <a class="nav-link" href="{% url 'home' %}">
            <span class="fas fa-home fa-lg mr-2"></span>
          </a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="{% url 'boutique' %}">
            <span class="fas fa-store fa-lg mr-2"></span>
          </a>
        </li>
        <li class="nav-item flex-fill">
          <a class="nav-link" href="{% url 'listeDiscu' %}">
            <span class="fas fa-sms fa-lg mr-2"></span>
          </a>
        </li>
        <li class="nav-item flex-fill">
          <a
            class="nav-link"
            href="#"
            data-toggle="modal"
            data-target="#adsModal"
          >
            <span class="fas fa-user fa-lg mr-2 animated tada"></span>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
<script src="{% static 'js/boutique.js' %}"></script>