<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Collaboration en cours </h3>
    <table>
        <th>Nom</th>
        <th>Prenoms</th>
        <th>Biographie</th>
        <th>Date de debut</th>
        <th>Date de fin</th>
        <th>Piece jointe</th>
    </table>
    {% for collab in collabs %}
        <tr>
            <td> {{ collab.nom }}</td>
            <td> {{ collab.prenoms}} </td>
            <td> {{ collab.biographie }}</td>
            <td> {{ collab.date_demande }}</td>
            <td> {{ collab.date_fin }}</td>
            <td> <a href=""></a></td>
        </tr>
    {% endfor %}
</body>
</html>