{% extends 'base.html' %} {% block content %}{% load static %}
<header class="header">
    <link rel="stylesheet" href="{% static 'css/voirPlus.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/boutique.css' %}" type="text/css" />
    <div id="headerCarousel" class="carousel slide" data-ride="carousel">
        <span><img src="{% static '/images/logo.png' %} " style="width:100px;height:100px;" alt="Health Tip" /></span>
        {% comment %} <div>
            <span id="typingText" class="typing-animation" style="color: blue; font-size: 30px"></span>
        </div> {% endcomment %}

</header>
<div class="container" id="back" style="">
</div>

<div class="search-container">
    <div class="input-group mb-3">
        <input id="search-input" type="text" class="form-control" placeholder="Rechercher un medecin" />
        <div class="input-group-append">
            <button id="search-button" class="btn btn-primary" type="button">
                Rechercher
            </button>
        </div>
    </div>
</div>

<section class="doctors">
    <div class="container">
        <h4>L'ensemble de nos médecins</h4>
        <div class="container" id="doc">
            <div class="row flex-nowrap overflow-auto">
                <div class="col-md-12 item">
                        {% for medecin in medecins %}

                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="doctor-photo-circle">
                                        <img src="{% static '/images/rasoa.png' %}" alt="Doctor" class="doctor-photo" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h3 class="doctor-name">
                                        Dr {{ medecin.nom }} {{ medecin.prenoms }}
                                    </h3>
                                    <p class="doctor-specialty">Spécialité: {{medecin.specialite.nom}}</p>
                                </div>
                                <div class="col-3">
                                    <a href="{% url 'profilMedecin' %}?idMedecin= {{ medecin.id }}" class="btn btn-primary btn-details det">Détails</a>
                                </div>
                            </div>
                        </div>

                    </div>
                        {% endfor %}

                </div>
                <!-- Ajoutez les autres éléments de la liste des docteurs ici -->
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var text = "Bienvenue";
        var typingElement = document.getElementById("typingText");
        var delay = 100; // Délai entre chaque caractère (en millisecondes)

        function typeWriter(text, index) {
            typingElement.textContent += text.charAt(index);
            index++;
            if (index < text.length) {
                setTimeout(function () {
                    typeWriter(text, index);
                }, delay);
            } else {
                setTimeout(function () {
                    eraseText();
                }, 2000); // Délai avant d'effacer le texte
            }
        }

        function eraseText() {
            var textLength = typingElement.textContent.length;
            if (textLength > 0) {
                typingElement.textContent = typingElement.textContent.slice(
                    0,
                    textLength - 1
                );
                setTimeout(eraseText, delay);
            } else {
                setTimeout(function () {
                    typeWriter(text, 0);
                }, delay);
            }
        }

        typeWriter(text, 0);
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const searchInput = document.getElementById("search-input");
      const searchButton = document.getElementById("search-button");
  
      searchButton.addEventListener("click", function () {
        const searchTerm = searchInput.value.trim().toLowerCase();
  
        const objCards = document.querySelectorAll(".card");
  
        objCards.forEach(function (card) {
          const title = card
            .querySelector(".doctor-name")
            .textContent.toLowerCase();
          const cardVisible = title.includes(searchTerm);
  
          card.style.display = cardVisible ? "block" : "none";
        });
      });
    });
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
{% endblock %}