{% extends 'base.html' %} {% block content %} {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profil Docteur</title>
        <link rel="stylesheet" href="{% static 'css/ProfilDocteur.css' %}">
        <style>

        </style>
    </head>
    <body>
            <div id="entete">
               <div id="petiteInfo">
                   <center>
                        <h1 id="NomDocteur">{{ medecin.nom }}</h1>
                   </center>
               </div>
            </div>
            <div id="milieu">
               <div id="photo">
                <center>
                  <img src="{% static '/images/rasoa.png' %}"  id="photoDocteur">
               </center>
               </div>
               <div id="etoile">
              <center>
                    <img src="{% static '/images/etoile.png' %}" id="photoEtoile">
                    <img src="{% static '/images/etoile.png' %}" id="photoEtoile">
                    <img src="{% static '/images/etoile.png' %}" id="photoEtoile">
                    <img src="{% static '/images/etoile.png' %}" id="photoEtoile">
             </center>
               </div>
               <div id="infos">
                <center>
                  <h2>About {{ medecin.nom }}</h2>
                </center>
               </div>
               <div id="Information">
                <h3>Nom: {{ medecin.nom }}</h3>
                <h3>Prenom: {{ medecin.prenoms }}</h3>
                   <h3>Email: {{ medecin.email }}</h3>
                   <h3>Telephone: {{ medecin.telephone }}</h3>
                <h3>Specialite: {{ medecin.specialite.nom }}</h3>
                   {% for etude in etudes %}
                    <h3>Annee d Etude: {{ etude.annee_debut }} - {{ etude.annee_fin }}</h3>
                   {% endfor %}
              </div>
            </div>
            <div id="Bouton">
                <center>
                  <button id="bt">Contacter</button>
                </center>
            </div>
    </body>
    </html>

{% endblock %}